<!DOCTYPE html>
<html>
<head>
  <title>MovieApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="columns">
	<ul>
		<li><%= link_to "buy tickets", tickets_path%></li>
		<li><%= link_to "view showings", showings_path %></li>
		<li><%= link_to "Movies", movies_path%></li>
		<li><%= link_to "Users", users_path%></li>

	</ul>
</div>

<%= yield %>

</body>
</html>
